@import '../../global.scss';

.works {
	&__title {
		color: white;
		letter-spacing: 3px;
		font-weight: bold;
		margin: 5% 15% 2rem 20%;

		@include mobile {
			margin-left: 5%;
			margin-right: 5%;
		}

		@include tablet {
			margin-left: 10%;
			margin-right: 10%;
		}
	}
}

.work-skills {
	color: white;
	margin: 0 10% 0 20%;
	font-size: smaller;
}

.portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lato';
	margin-bottom: 10%;
	margin-top: 5%;

	@include mobile {
		flex-direction: column;
	}

	&__works {
		text-align: center;
		width: 100%;
		height: 25rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: black;
		overflow: hidden;
		z-index: 1;
		margin: 10px;

		&--title {
			color: white;
			z-index: 2;
			font-size: 1.5rem;
			font-family: 'Helvetica';
		}

		&--desc {
			color: white;
			z-index: 2;
			font-size: 1rem;
			font-family: 'Helvetica';
			margin-top: 1rem;
		}

		&--stack {
			color: white;
			z-index: 2;
			font-size: 0.75rem;
			font-family: 'Lato';
			margin-top: 1rem;
		}

		a {
			margin-top: 1rem;
			color: white;
			font-weight: bold;
			z-index: 2;
			// background-color: black;
			padding: 0.5rem 2rem;
			border-radius: 50px;
			border: 2px solid white;
			transition: 0.5s;

			&:hover {
				background-color: white;
				border: 2px solid white;
				color: black;
			}
		}
	}
}

// PROJECTS

.instock {
	background-image: url(../../Assets/Images/stock.png);
	background-size: cover;
	position: relative;
	// border-top: 1rem solid white;
}

.bespoke {
	background-image: url(../../Assets/Images/bd3.png);
	background-size: cover;
	background-position: center;
	position: relative;
	// border-top: 1rem solid white;
	// border-bottom: 1rem solid white;
}

.brainflix {
	background-image: url(../../Assets/Images/flix.png);
	background-position: top;
	background-size: cover;
	position: relative;
	// border-bottom: 1rem solid black;
}

#color-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;

	&:hover {
		opacity: 0.6;
		transition: 0.5s;
	}
}
