@import '../../global.scss';

.about {
	background-color: white;

	a {
		color: black;
		font-weight: 600;
		text-decoration: underline;
	}

	&__container {
		margin: 5% 15% 5% 20%;
		display: flex;
		flex-direction: column;

		@include mobile {
			margin-left: 5%;
			margin-right: 5%;
		}

		@include tablet {
			margin-left: 10%;
			margin-right: 10%;
		}
	}

	&__text {
		padding: 0;

		&--title {
			padding-bottom: 4rem;
			letter-spacing: 3px;
			font-weight: bold;
		}
	}

	&__skills {
		margin-top: 150px;
	}

	&__skills-icons {
		display: flex;
		flex-wrap: wrap;
		width: inherit;

		&--card {
			padding: 1rem;
			width: 100px;
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
		}
	}

	&__text-right {
		display: flex;
		// justify-content: space-between;

		@include mobile {
			flex-direction: column;
			flex-wrap: wrap;
		}

		@include tablet {
			flex-direction: column;
			flex-wrap: wrap;
		}
	}

	p {
		line-height: 2rem;
	}

	&__paragraph1 {
		width: 100%;
	}
	&__paragraph2 {
		width: 100%;
		padding-left: 4rem;

		@include mobile {
			padding: 0;
			padding-top: 1rem;
		}

		@include tablet {
			padding: 0;
			padding-top: 1rem;
		}
	}
}

.sean-pic {
	border-radius: 50%;
	width: 20vw;
}

.prof-pic {
	margin: auto;
}
