@import '../../global.scss';

.about {
	background-color: white;

	&__container {
		margin-left: 20%;
		margin-top: 10%;
		margin-right: 15%;
		margin-bottom: 10%;
		display: flex;
		flex-direction: column;
		margin-top: 3rem;

		@include mobile {
			margin-left: 5%;
			margin-right: 5%;
		}

		@include tablet {
			margin-left: 10%;
			margin-right: 10%;
		}
	}

	&__text {
		padding: 4rem 0;

		&--title {
			padding-bottom: 4rem;
		}
	}

	&__skills {
		margin-top: 150px;
	}

	&__skills-icons {
		display: flex;
		flex-wrap: wrap;
		width: inherit;

		&--card {
			padding: 1rem;
			width: 100px;
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
		}
	}

	&__text-right {
		display: flex;
		// justify-content: space-between;

		@include mobile {
			flex-direction: column;
			flex-wrap: wrap;
		}
	}

	&__paragraph1 {
		width: 100%;
	}
	&__paragraph2 {
		width: 100%;
		padding-left: 4rem;

		@include mobile {
			padding: 0;
			padding-top: 1rem;
		}
	}
}

.sean-pic {
	border-radius: 50%;
	width: 20vw;
}

.prof-pic {
	margin: auto;
}
