@import '../../global.scss';

.contact {
	background-color: white;

	&__container {
		margin: 5% 15% 5% 20%;

		@include mobile {
			margin-left: 5%;
			margin-right: 5%;
		}

		@include tablet {
			margin-left: 10%;
			margin-right: 10%;
		}
	}

	&__title {
		letter-spacing: 3px;
		font-weight: bold;
		margin-bottom: 4rem;
	}

	&__desc {
		font-size: 1.5rem;
		margin-bottom: 4rem;
		font-family: 'Helvetica';
	}

	&__main {
		display: flex;

		@include mobile {
			flex-direction: column;
		}

		@include tablet {
			flex-direction: column;
		}

		&--left {
			display: flex;
			flex-direction: column;

			a {
				color: black;
				margin: 1rem 0;
				font-size: 1.5rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&--right {
			margin-left: 50%;

			@include mobile {
				margin: 3rem 0;
			}

			@include tablet {
				margin: 3rem 0;
			}
		}
	}

	button {
		background-color: white;
		border: 2px black solid;
		font-family: 'Helvetica';
		border-radius: 20px;
		padding: 0.5rem 2rem;
		width: 250px;
		font-family: 'Lato';
		letter-spacing: 6px;
		font-weight: 600;
		font-size: 1rem;

		&:hover {
			background-color: black;
			color: white;
			transition: 0.5s;
		}
	}
}
