@import "../../global.scss";

.intro {
	background-color: black;
	color: white;

	&__text {
		margin-left: 20%;
		margin-top: 15%;

		@include mobile {
			margin-left: 5%;
			margin-top: 20%;
			margin-right: 5%;
		}

		@include tablet {
			margin-left: 10%;
		}
	}

	h1 {
		font-size: 5rem;
		padding-bottom: 1rem;
	}

	p {
		padding: 1rem 0;
	}

	li {
		padding: 0.5rem 0;
	}

	&__def {
		margin-top: 1rem;
	}
	a {
		text-decoration: none;
		color: white;
		position: relative;
		top: 15rem;
		left: 50%;
	}
}

.subheading {
	letter-spacing: 3px;
}

ul {
	list-style-type: none;
	padding: 0;
}

.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
