@use './global.scss' as *;

.app {
	height: 100vh;

	.sections {
		width: 100%;
		height: calc(100vh - 50px);
		background-color: black;
		position: relative;
		top: 50px;
		scroll-behavior: smooth;
		scrollbar-width: none; //for firefox
		&::-webkit-scrollbar {
			display: none;
		}
		// scroll-snap-type: y mandatory;

		> * {
			width: 100vw;
			height: calc(100vh - 50px);
			// scroll-snap-align: end;
		}
	}
}
