@font-face {
	font-family: 'Helvetica';
	src: url('../src/Assets/Fonts/Helvetica.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Helvetica', sans-serif;
}

body {
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;
}

$mobile-width: 375px;
$tablet-width: 768px;

@mixin mobile {
	@media (max-width: $mobile-width) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: $tablet-width) {
		@content;
	}
}
