@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
	font-family: Manrope, system-ui, sans-serif;
	margin: 0px;
}

main {
  padding: 1rem;
}


@layer components {
	.btn {
		@apply flex items-center bg-secondary text-black py-1 px-4 rounded-full hover:bg-lime;
	}
}